<h1>Welcom to Umbrella Notice</h1>
<h3>ログイン機能</h3>
<p><%= link_to 'sign_up', new_user_registration_path %></p>
<p><%= link_to 'sign_in', new_user_session_path %></p>
<p><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></p>
<p><%= link_to 'forget_password', new_user_password_path %></p>

<h3>コントローラー</h3>
<p><%= link_to 'weathers/information', weathers_information_path %></p>