<% provide(:title, 'Home') %>

<div class="container mt-2">
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
        <div class="card bg-light">
          <div class="card-body text-center">
            <div class="border-bottom border-dark">
              <h5 class="card-title"><%= icon 'fas', 'pen' %>　このアプリはβ版です</h5>
            </div>
            <div class="mt-3">
              <span class="card-text">現在、天気予報の精度は高くありません。</span><br>
              <span class="card-text">実際の天気と通知内容に乖離が発生する場合があります。</span><br>
              <p class="card-text">気象庁などの天気予報を確認することをおすすめします。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm text-center">
      <h1>Umbrela Notice へようこそ</h1>
      <h4 class="text-muted mt-4">
        <p>雨が降る日に通知を送信するアプリケーションです。</p>
        <p>もう、雨に濡れる必要はありません。</p>
        <p>まずは、LINE公式アカウントをフォローしてください。</p>
      </h4>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 my-auto">
      <div class="card border-light bg-light text-center">
        <div class="card-body">
          <h3 class="card-title">About</h3>
          <p class="card-text">傘を持たずに家を出て、雨に濡れてしまった、、、。</p>
          <p class="card-text">そんな体験はありませんか？</p>
          <p class="card-text">その失敗をシステムで解決しましょう。</p>
          <p class="card-text">Umbrella Noticeは、登録した位置情報を利用します。</p>
          <p class="card-text">毎朝、雨が降るかどうかを自動で判断し、LINEで通知します。</p>
          <p class="card-text">もう、雨を避けるために天気予報を確認するのは終わりにしましょう。</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 my-auto">
      <%= image_tag 'rain.jpg', class: 'rounded img-fluid' %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6 my-auto">
      <%= image_tag 'umbrella.png', class: 'rounded img-fluid' %>
    </div>
    <div class="col-sm-6 col-sm-pull-6 my-auto">
      <div class="card border-light bg-light text-center">
        <div class="card-body">
          <h3 class="card-title">Simple</h3>
          <p class="card-text">必要な操作は位置情報を設定するだけです。</p>
          <p class="card-text">面倒なアカウント登録は必要ありません。</p>
          <p class="card-text">あとは全て、Umbrella Noticeが行います。</p>
          <p class="card-text">通知が来たら、あなたは傘を持てばよいのです。</p>
          <p class="card-text">とてもシンプルです。</p>
          <p class="card-text">さあ、雨に濡れない世界へと旅立ちましょう。</p>
          <%= link_to 'LINE公式アカウントをフォロー',
                      Rails.application.credentials.line_api[:message][:follow_url],
                      class:  'btn btn-outline-primary',
                      target: :_blank,
                      role:   'button' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 text-center my-auto">
      <div class="card border-light bg-light text-center">
        <div class="card-body">
          <h3 class="card-title">Power Up (準備中)</h3>
          <p class="card-title">もしかしてあなたは、よく出張に出かける人ですか？</p>
          <p class="card-title">それとも、さらに高機能のUmbrella Noticeを試したいですか？</p>
          <p class="card-title">No Problem.</p>
          <p class="card-title">Googleカレンダーと連携することにより、より精度の高い天気予報をお届けできます。</p>
          <p class="card-title">予定から自動で場所を取得し、時間帯ごとにより適切な判断を行います。</p>
          <p class="card-title">このすばらしい機能を使うには、まずはアカウント登録を行ってください。</p>
          <%= link_to 'アカウント登録',
                      new_user_registration_path,
                      class: 'btn btn-outline-primary',
                      role:   'button' %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 my-auto">
      <%= image_tag 'calendar.png', class: 'rounded img-fluid' %>
    </div>
  </div>
</div>
<% if Rails.env.development? %>
  <p class="text-center mt-3"><%= link_to 'weathers/information', weathers_information_path %></p>
<% end %>