<div class="col-sm-6 mt-3">
  <div class="text-center">
    <div class="card bg-light w-75 mx-auto">
      <div class="card-body text-center">
        <div class="border-bottom border-dark">
          <h5 class="card-title"><%= icon 'fas', 'pen' %>　LINE ログインがおすすめです</h5>
        </div>
        <div class="mt-3">
          <span class="card-text">LINE ログインを行うと、Umbrella Notice アカウントと LINE アカウントを自動で紐付けます。</span>
          <p class="card-text">とても簡単にログインすることができます。</p>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <%= link_to users_line_login_path, class: 'btn btn-success w-75', role: 'button' do %>
        <%= icon 'fab', 'line' %> LINEアカウントでログイン
      <% end %>
    </div>
<!--    未実装のため、コメントアウト-->
<!--    <div class="mt-5">-->
      <%#= link_to Rails.application.credentials.line_api[:message][:follow_url], class: 'btn btn-danger w-75', role: 'button' do %>
<!--        <%#= icon 'fab', 'google' %> Googleアカウントでログイン-->
      <%# end %>
<!--    </div>-->
    <div class="mt-5">
      <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary w-75', role: 'button' do %>
        <%= icon 'fab', 'facebook-square' %> Facebookアカウントでログイン
      <% end %>
    </div>
  </div>
</div>