<%= link_to 'home', root_path %>
<p>取得データの個数 => <%= @weather_forecast[:cnt] %>個</p>
<p></p>
<p>都市 => <%= @weather_forecast[:city][:name] %></p>
<p></p>
<p>緯度 => <%= @weather_forecast[:city][:coord][:lat] %> , 経度 => <%= @weather_forecast[:city][:coord][:lon] %></p>
<p></p>
<p>取得データの時刻 => 3時間区切りの最も近い時刻から</p>
<p>
  雨の基準となる雨量は、2[mm]かな
  <%= link_to 'リンク', 'http://www.thr.mlit.go.jp/akita/jimusyo/09-faq/chishiki/vol02/vol2_5.html' %>
  <%= link_to 'リンク', 'https://jz-style.net/column/rain.html' %>
</p>
<h3>リクエスト時刻は、[<%= Time.zone.now %>] です。</h3>
<p>今日は雨降りますか？ => <%= @rain_notice %></p>

<% @weather_forecast[:list].each do |list_item| %>
  <% time_jst = Time.zone.at(list_item[:dt]) %>

　<p>------------------------------------------------------------------------</p>
  <p>時刻 =>【 <%= time_jst %> 】</p>
  <p>天気 =>【 <%= list_item[:weather][0][:main] %> 】</p>
  <p>雨量 =>【 <%= list_item[:rain].present? ? "#{list_item[:rain][:'3h']} [mm]" : 'なし' %> 】</p>
  <p>weather[0]</p>
  <% list_item[:weather][0].each do |key, value| %>
    <p><%= "#{key}: #{value}" %></p>
  <% end %>
  <p></p>
<% end %>