<nav class="header navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to image_tag('app_logo', size: '190x30'), root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">　
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About us', about_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'LINE Account', Rails.application.credentials.line_api[:message][:follow_url], class: 'nav-link text-white', target: :_blank %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: 'nav-link' do %>
              <%= icon 'fas', 'user-cog' %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-white' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>