<% provide(:title, 'Edit User') %>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm text-center">
      <h1>ユーザー情報変更</h1>
      <h4 class="text-muted mt-4">
        <p>変更したい項目を入力してください。</p>
      </h4>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="field mx-auto w-75">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>現在、本人確認を待っています。 : <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field mt-2 mx-auto w-75">
          <%= f.label :password %>
          <span> ( 変更しない場合は空欄にしてください )</span>
          <% if @minimum_password_length %>
            <span> ( <%= @minimum_password_length %> 文字以上 )</span>
          <% end %>
          <br />
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
        </div>

        <div class="field mt-2 mx-auto w-75">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
        </div>

        <div class="field mt-2 mx-auto w-75">
          <%= f.label :current_password %> <span>( 変更を行うには現在のパスワードが必要です )</span><br />
          <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <div class="actions text-center mt-3">
          <%= f.submit '変更する', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm text-center">
      <h3>アカウントの削除</h3>
      <h5 class="text-muted mt-4">
        <p>サービスに満足いただけませんか？</p>
      </h5>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm text-center">
      <p><%= link_to 'アカウントを削除する', registration_path(resource_name), data: {confirm: "本当に削除しますか?"}, method: :delete, class: 'btn  btn-primary', role: 'button' %></p>
      <p><%= link_to "Back", :back %></p>
    </div>
  </div>
</div>

